$chart-colors:  #2C6994, #e2a651, #8CEBE7, #48B6E0, #4B9699, #DBD242, #438CBF, #F2CA8A, #ceefee, #96C7EB, #82B8BA, #E9E48E;
$chart-greens: #13ff79, #42ff94, #71ffaf, #a1ffc9;
$chart-reds: #d45d6e, #e695a1, #f3c5cb, #f7e1e4;

// chart-color
@each $chart-color in $chart-colors {
    $i: index($chart-colors, $chart-color);
    .chart-color-#{$i} {
        background-color: $chart-color;
    }
}

// chart-green
@each $chart-green in $chart-greens {
    $i: index($chart-greens, $chart-green);
    .chart-green-#{$i} {
        background-color: $chart-green;
    }
}

// chart-red
@each $chart-red in $chart-reds {
    $i: index($chart-reds, $chart-red);
    .chart-red-#{$i} {
        background-color: $chart-red;
    }
}